# Steb04b Transformations Version1: All Features

## Import packages

In [1]:
import pandas as pd
import numpy as np
import pickle
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler, OrdinalEncoder
from sklearn.impute import SimpleImputer

In [2]:
infile1 = open('../data/train_test_split/scherzer/X_train_2015.pickle','rb')
X_train = pickle.load(infile1)
infile1.close()

infile2 = open('../data/train_test_split/scherzer/y_train_2015_all_types.pickle','rb')
y_train = pickle.load(infile2)
infile2.close()

infile2 = open('../data/train_test_split/scherzer/y_train_2015_2_cases.pickle','rb')
y_train_2c = pickle.load(infile2)
infile2.close()

infile2 = open('../data/train_test_split/scherzer/y_train_2015_3_cases.pickle','rb')
y_train_3c = pickle.load(infile2)
infile2.close()

In [3]:
X_train.columns

Index(['pitch_number', 'stand', 'outs_when_up', 'inning', 'opp_score',
       'nats_score', 'if_fielding_alignment', 'of_fielding_alignment',
       'nats_home1_away0', 'balls_strikes', 'all_runners', 'pitch_season',
       'pitch_game', 'pitch_bat_gm', 'total_pitches', 'abs', 'whiffs',
       'swings', 'takes', 'k', 'walk', 'single', 'double', 'triple', 'hr',
       'line_drive', 'ground_ball', 'fly_ball', 'popup', 'rbi', 'sac', 'ba',
       'slg', 'iso', 'babip'],
      dtype='object')

In [4]:
X_train

,pitch_number,stand,outs_when_up,inning,opp_score,nats_score,if_fielding_alignment,of_fielding_alignment,nats_home1_away0,balls_strikes,...,line_drive,ground_ball,fly_ball,popup,rbi,sac,ba,slg,iso,babip
11287,1,L,2,1,0,0,Standard,Standard,1,0_1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
839,6,L,0,4,1,1,Infield shift,Strategic,1,2_2,...,31.0,35.0,32.0,1.0,13.0,0.0,0.257143,0.521429,0.264286,0.300000
1745,4,L,1,1,0,0,Standard,Strategic,0,2_2,...,57.0,96.0,35.0,3.0,29.0,2.0,0.299611,0.478599,0.178988,0.370166
5724,5,L,1,4,0,1,Infield shift,Standard,0,2_2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5466,1,L,0,1,0,0,Standard,Standard,1,0_1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,0,L,0,2,0,0,Standard,Standard,1,0_0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000
8418,1,L,0,5,0,1,Infield shift,Standard,0,0_1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6992,3,R,2,6,1,7,Standard,Standard,0,1_2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12664,0,L,0,1,0,0,Standard,Standard,1,0_0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4405,1,R,1,1,0,0,Standard,Standard,1,0_1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Define Categorical Variables

In [5]:
cats = ['stand', 'if_fielding_alignment', 'of_fielding_alignment', 'balls_strikes', 'all_runners']

## Define Features that are already standardized

In [6]:
formatted = ['nats_home1_away0', 'ba', 'slg', 'iso', 'babip']

## Define MinMax Numeric Variables

In [7]:
minmax = ['outs_when_up', 'inning']

## Define StandardScaler Numeric Variables

In [8]:
standard = []
non_nums = cats + standard + minmax

for c in X_train.columns:
    if c not in non_nums:
        standard.append(c)

## Fit OHE

In [9]:
ohe = OneHotEncoder(drop='first', handle_unknown='error', sparse=False)

In [10]:
X_ohe_ar = ohe.fit_transform(X_train[cats])

In [11]:
ohe_cols = ['stand_r1', 'if_standard', 'if_strategic', 'of_strategic', 
        '0_1', '0_2', '1_0', '1_1', '1_2', '2_0', '2_1', '2_2', '3_0', '3_1', '3_2',
        'fb:0_sb:0_tb:1', 'fb:0_sb:1_tb:0', 'fb:0_sb:1_tb:1', 'fb:1_sb:0_tb:0', 
        'fb:1_sb:0_tb:1', 'fb:1_sb:1_tb:0', 'fb:1_sb:1_tb:1']

In [12]:
ohe_df = pd.DataFrame(data = X_ohe_ar, columns = ohe_cols).reset_index()

## Fit StandardScaler

In [13]:
ss = StandardScaler()

In [14]:
X_ss = ss.fit_transform(X_train[standard])

In [15]:
ss_df = pd.DataFrame(columns = standard, data = X_ss).reset_index()

## Fit MinMax Scaler

In [16]:
mm = MinMaxScaler()

In [17]:
X_mm = mm.fit_transform(X_train[minmax])

In [18]:
mm_df = pd.DataFrame(columns = minmax, data = X_mm).reset_index()

## Create DF for features that are already standardized

In [19]:
formatted_df = X_train[formatted].reset_index()

## Combine Processed X_train

In [20]:
ohe_df.shape, ss_df.shape, mm_df.shape, X_train[formatted].shape

((11381, 23), (11381, 29), (11381, 3), (11381, 5))

In [21]:
ohe_df.shape[1] + ss_df.shape[1] + mm_df.shape[1] + X_train[formatted].shape[1]

60

In [22]:
# X_train_trans = pd.DataFrame()
X_train_trans = pd.concat([mm_df, ss_df, ohe_df], axis = 1)
X_train_trans = X_train_trans.drop(columns = 'index')
X_train_trans

,outs_when_up,inning,pitch_number,opp_score,nats_score,nats_home1_away0,pitch_season,pitch_game,pitch_bat_gm,total_pitches,...,3_0,3_1,3_2,fb:0_sb:0_tb:1,fb:0_sb:1_tb:0,fb:0_sb:1_tb:1,fb:1_sb:0_tb:0,fb:1_sb:0_tb:1,fb:1_sb:1_tb:0,fb:1_sb:1_tb:1
0,1.0,0.000,-0.517830,-0.761728,-0.794425,0.982492,-0.375075,-1.430629,-1.100708,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.375,2.334748,0.075393,-0.349673,0.982492,-0.831739,-0.061680,0.570471,-0.404999,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.5,0.000,1.193717,-0.761728,-0.794425,-1.017820,0.110715,-1.365441,-0.384488,0.278477,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.5,0.375,1.764232,-0.761728,-0.349673,-1.017820,0.761903,-0.257244,0.092991,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000,-0.517830,-0.761728,-0.794425,0.982492,0.493522,-1.658787,-1.100708,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11376,0.0,0.125,-1.088346,-0.761728,-0.794425,0.982492,-1.683693,-1.039500,-1.339447,-1.227591,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11377,0.0,0.500,-0.517830,-0.761728,-0.349673,-1.017820,-0.133740,-0.941718,-1.339447,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11378,1.0,0.625,0.623201,0.075393,2.318833,-1.017820,-1.617118,1.046517,2.002909,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
11379,0.0,0.000,-1.088346,-0.761728,-0.794425,0.982492,1.057330,-1.691381,-1.339447,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11380,0.5,0.000,-0.517830,-0.761728,-0.794425,0.982492,-0.610169,-1.430629,-1.100708,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

## Process y_train data

In [23]:
y_train.value_counts()
y_train = np.array(y_train).reshape(-1, 1)

In [24]:
o = OrdinalEncoder()
y_train_trans = o.fit_transform(y_train)
np.unique(y_train_trans)

array([0., 1., 2., 3., 4., 5.])

## Process y_train_2c

In [25]:
y_train_2c = np.array(y_train_2c).reshape(-1, 1)

In [26]:
o2 = OrdinalEncoder()
y_train_2c = o2.fit_transform(y_train_2c)
np.unique(y_train_2c)

array([0., 1., 2.])

## Proces y_train_3c

In [27]:
y_train_3c = np.array(y_train_3c).reshape(-1, 1)

In [28]:
o2 = OrdinalEncoder()
y_train_3c = o2.fit_transform(y_train_3c)
np.unique(y_train_3c)

array([0., 1., 2., 3.])

## Export data

In [30]:
pickle_out = open('../data/train_test_split/scherzer/transformed/X_train_2015_trans.pickle', 'wb')
pickle.dump(X_train_trans, pickle_out)
pickle_out.close()

pickle_out = open('../data/train_test_split/scherzer/transformed/y_train_2015_trans.pickle', 'wb')
pickle.dump(y_train_trans, pickle_out)
pickle_out.close()

pickle_out = open('../data/train_test_split/scherzer/transformed/y_train_2c_2015_trans.pickle', 'wb')
pickle.dump(y_train_2c, pickle_out)
pickle_out.close()

pickle_out = open('../data/train_test_split/scherzer/transformed/y_train_3c_2015_trans.pickle', 'wb')
pickle.dump(y_train_3c, pickle_out)
pickle_out.close()