## Import required packages

In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
infile1 = open('../data/processed/batters/2019_batter_ab_cleaned_grouped.pickle','rb')
batter_ab = pickle.load(infile1)
infile1.close()

In [3]:
infile2 = open('../data/processed/batters/2019_batter_by_game_clean.pickle','rb')
batter_game = pickle.load(infile2)
infile2.close()

## In preparation for joining data, make sure indexes are the same

In [4]:
batter_ab.columns

Index(['ab', 'k', 'walk', 'single', 'double', 'triple', 'hr', 'sac',
       'line_drive', 'ground_ball', 'fly_ball', 'popup', 'rbi'],
      dtype='object')

In [5]:
batter_ab = batter_ab.reset_index()
batter_ab = batter_ab.rename(columns = {'batter': 'player_id'})
batter_ab = batter_ab.set_index(['player_id', 'game_date'])
batter_ab

                           player_name  ab  k  walk  single  double  triple  \
player_id game_date
282332    2019-04-30       CC Sabathia   2  2     0       0       0       0
          2019-08-24       CC Sabathia   1  0     0       0       0       0
400085    2019-03-20     Ichiro Suzuki   1  0     1       0       0       0
          2019-03-21     Ichiro Suzuki   4  1     0       0       0       0
405395    2019-03-28     Albert Pujols   3  1     0       0       0       0
...                                ...  .. ..   ...     ...     ...     ...
676606    2019-05-12  Nick Margevicius   2  1     0       1       0       0
          2019-05-18  Nick Margevicius   1  1     0       0       0       0
          2019-06-01  Nick Margevicius   1  0     0       0       0       0
          2019-06-07  Nick Margevicius   1  0     0       0       0       0
          2019-06-16  Nick Margevicius   1  1     0       0       0       0

                      hr  sac  line_drive  ground_ball  fly_ball  popup  rbi
player_id game_date
282332    2019-04-30   0    0           0            0         0      0    0
          2019-08-24   0    0           1            0         0      0    0
400085    2019-03-20   0    0           0            0         0      1    0
          2019-03-21   0    0           0            2         0      1    0
405395    2019-03-28   0    0           1            0         1      0    0
...                   ..  ...         ...          ...       ...    ...  ...
676606    2019-05-12   0    0           1            0         0      0    0
          2019-05-18   0    0           0            0         0      0    0
          2019-06-01   0    0           0            1         0      0    0
          2019-06-07   0    0           0            1         0      0    0
          2019-06-16   0    0           0            0         0      0    0

[51140 rows x 14 columns]

In [6]:
batter_game;

In [7]:
batter_game = batter_game.set_index(['player_id', 'game_date'])
batter_game.index;

In [8]:
batters = batter_game.join(batter_ab, how = 'left', 
                 lsuffix = 'l', 
                 rsuffix = 'r')

In [9]:
# Resetting index to mitigate working with multiple index
batters = batters.reset_index()

In [10]:
batters = batters.rename(columns = {'player_namel': 'player_name'})

In [11]:
batters

,player_id,game_date,player_name,total_pitches,hits,abs,whiffs,swings,takes,team,...,single,double,triple,hr,sac,line_drive,ground_ball,fly_ball,popup,rbi
0,282332,2019-04-30,CC Sabathia,10,0,2,3,5,5,nyy,...,0,0,0,0,0,0,0,0,0,0
1,282332,2019-08-24,CC Sabathia,3,0,1,0,2,1,nyy,...,0,0,0,0,0,1,0,0,0,0
2,400085,2019-03-20,Ichiro Suzuki,11,0,1,0,5,6,sea,...,0,0,0,0,0,0,0,0,1,0
3,400085,2019-03-21,Ichiro Suzuki,19,0,4,2,9,10,sea,...,0,0,0,0,0,0,2,0,1,0
4,405395,2019-03-28,Albert Pujols,13,0,3,1,6,6,laa,...,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51134,676606,2019-05-12,Nick Margevicius,8,1,2,1,3,5,sd,...,1,0,0,0,0,1,0,0,0,0
51135,676606,2019-05-18,Nick Margevicius,5,0,1,1,2,3,sd,...,0,0,0,0,0,0,0,0,0,0
51136,676606,2019-06-01,Nick Margevicius,6,0,1,0,3,3,sd,...,0,0,0,0,0,0,1,0,0,0
51137,676606,2019-06-07,Nick Margevicius,4,0,1,0,1,3,sd,...,0,0,0,0,0,0,1,0,0,0
51138,676606,2019-06-16,Nick Margevicius,3,0,1,1,1,2,sd,...,0,0,0,0,0,0,0,0,0,0

In [12]:
batters = batters.drop(columns = 'ab')

## Make stats cumulative summations over time

In [13]:
batters.head()

,player_id,game_date,player_name,total_pitches,hits,abs,whiffs,swings,takes,team,...,single,double,triple,hr,sac,line_drive,ground_ball,fly_ball,popup,rbi
0,282332,2019-04-30,CC Sabathia,10,0,2,3,5,5,nyy,...,0,0,0,0,0,0,0,0,0,0
1,282332,2019-08-24,CC Sabathia,3,0,1,0,2,1,nyy,...,0,0,0,0,0,1,0,0,0,0
2,400085,2019-03-20,Ichiro Suzuki,11,0,1,0,5,6,sea,...,0,0,0,0,0,0,0,0,1,0
3,400085,2019-03-21,Ichiro Suzuki,19,0,4,2,9,10,sea,...,0,0,0,0,0,0,2,0,1,0
4,405395,2019-03-28,Albert Pujols,13,0,3,1,6,6,laa,...,0,0,0,0,0,1,0,1,0,0

In [14]:
batters.columns

Index(['player_id', 'game_date', 'player_name', 'total_pitches', 'hits', 'abs',
       'whiffs', 'swings', 'takes', 'team', 'player_namer', 'k', 'walk',
       'single', 'double', 'triple', 'hr', 'sac', 'line_drive', 'ground_ball',
       'fly_ball', 'popup', 'rbi'],
      dtype='object')

In [15]:
# Create dictionary with key as existing column and the value as the new, cumsum column
# Will use to loop creation of new features

cs = ['total_pitches', 'hits', 'abs', 'whiffs', 'swings', 'takes', 'k', 'walk', 'single', 'double',
              'triple', 'hr', 'line_drive', 'ground_ball', 'fly_ball', 'popup', 'rbi', 'sac']

cs_dict = {}

for c in cs:
    new_col = c + '_cs'
    cs_dict.update({c: new_col})

In [16]:
for c in cs_dict:
    batters[cs_dict[c]] = batters.groupby(['player_name'])[c].cumsum()

In [17]:
# batters.loc[batters.player_name == 'Anthony Rendon', ['rbi', 'rbi_cs']]

## Calculate standard basball performance metrics back into the dataframe
These include:
- batting average (ba)
- slugging percentage (slg)
- isolated power (iso)
- batting average on balls in play (babip)

### Create functions for calculations

In [19]:
batters.columns

Index(['player_id', 'game_date', 'player_name', 'total_pitches', 'hits', 'abs',
       'whiffs', 'swings', 'takes', 'team', 'player_namer', 'k', 'walk',
       'single', 'double', 'triple', 'hr', 'sac', 'line_drive', 'ground_ball',
       'fly_ball', 'popup', 'rbi', 'total_pitches_cs', 'hits_cs', 'abs_cs',
       'whiffs_cs', 'swings_cs', 'takes_cs', 'k_cs', 'walk_cs', 'single_cs',
       'double_cs', 'triple_cs', 'hr_cs', 'line_drive_cs', 'ground_ball_cs',
       'fly_ball_cs', 'popup_cs', 'rbi_cs', 'sac_cs'],
      dtype='object')

In [20]:
batters['ba_cs'] = batters.hits_cs / batters.abs_cs

In [21]:
batters['slg_cs'] = (batters.single_cs \
                     + 2 * batters.double_cs \
                     + 3 * batters.triple_cs \
                     + 4 * batters.hr_cs)/ \
                        batters.abs_cs

In [22]:
batters['iso_cs'] = batters.slg_cs - batters.ba_cs

In [23]:
batters['babip_cs'] = (batters.hits_cs - batters.hr_cs) / \
                        (batters.abs_cs - batters.hr_cs - batters.k_cs + batters.sac_cs)

In [24]:
batters.columns

Index(['player_id', 'game_date', 'player_name', 'total_pitches', 'hits', 'abs',
       'whiffs', 'swings', 'takes', 'team', 'player_namer', 'k', 'walk',
       'single', 'double', 'triple', 'hr', 'sac', 'line_drive', 'ground_ball',
       'fly_ball', 'popup', 'rbi', 'total_pitches_cs', 'hits_cs', 'abs_cs',
       'whiffs_cs', 'swings_cs', 'takes_cs', 'k_cs', 'walk_cs', 'single_cs',
       'double_cs', 'triple_cs', 'hr_cs', 'line_drive_cs', 'ground_ball_cs',
       'fly_ball_cs', 'popup_cs', 'rbi_cs', 'sac_cs', 'ba_cs', 'slg_cs',
       'iso_cs', 'babip_cs'],
      dtype='object')

In [25]:
kill_cols = ['total_pitches', 'hits', 'abs', 'whiffs', 'swings', 'takes', 'team', 
             'k', 'walk', 'single', 'double', 'triple', 'hr', 'sac', 'line_drive', 
             'ground_ball', 'fly_ball', 'popup', 'rbi']

In [26]:
batters = batters.drop(columns = kill_cols)

In [27]:
cols = {}

for c in batters.columns:
    if c[-3:] == '_cs':
        new_col = c[0:-3]
        cols.update({c: new_col})
    else:
        pass

In [28]:
batters = batters.rename(columns = cols)

In [29]:
batters = batters.drop(columns = ['player_namer'])

In [30]:
player_df = batters.loc[batters.player_name == 'Raudy Read']
player_df

,player_id,game_date,player_name,total_pitches,hits,abs,whiffs,swings,takes,k,...,line_drive,ground_ball,fly_ball,popup,rbi,sac,ba,slg,iso,babip
30877,600466,2019-07-24,Raudy Read,2,0,1,0,2,0,0,...,1,0,0,0,0,0,0.000000,0.000000,0.0,0.000000
30878,600466,2019-09-01,Raudy Read,6,0,2,3,5,1,1,...,1,0,0,0,0,0,0.000000,0.000000,0.0,0.000000
30879,600466,2019-09-14,Raudy Read,20,1,5,6,13,7,1,...,1,2,0,1,0,0,0.200000,0.200000,0.0,0.250000
30880,600466,2019-09-24,Raudy Read,39,1,9,14,22,17,4,...,1,3,0,1,0,0,0.111111,0.111111,0.0,0.200000
30881,600466,2019-09-29,Raudy Read,43,1,11,14,23,20,5,...,1,3,1,1,0,0,0.090909,0.090909,0.0,0.166667

In [31]:
player_df.iloc[[0],]

,player_id,game_date,player_name,total_pitches,hits,abs,whiffs,swings,takes,k,...,line_drive,ground_ball,fly_ball,popup,rbi,sac,ba,slg,iso,babip
30877,600466,2019-07-24,Raudy Read,2,0,1,0,2,0,0,...,1,0,0,0,0,0,0.0,0.0,0.0,0.0

In [32]:
player_df.iloc[[1],]

,player_id,game_date,player_name,total_pitches,hits,abs,whiffs,swings,takes,k,...,line_drive,ground_ball,fly_ball,popup,rbi,sac,ba,slg,iso,babip
30878,600466,2019-09-01,Raudy Read,6,0,2,3,5,1,1,...,1,0,0,0,0,0,0.0,0.0,0.0,0.0

In [33]:
for r in player_df.iterrows():
    if r[1][1] == player_df.game_date.min():
        pass
    else:
        print('Other dates {}'.format(r[1][1]))

# for r in player_df.game_date:
#     if r == player_df.game_date.min():
#         pass
#     else:
#         print(r)

Other dates 2019-09-01 00:00:00
Other dates 2019-09-14 00:00:00
Other dates 2019-09-24 00:00:00
Other dates 2019-09-29 00:00:00

In [34]:
df = batters.groupby(by = ['player_id', 'player_name'], axis = 0).sum()
df = df.reset_index()

In [35]:
dummy_df = pd.DataFrame(columns = batters.columns)
dummy_df.player_id = df.player_id
dummy_df.player_name = df.player_name
dummy_df.game_date = '2019-01-01'
dummy_df.game_date = pd.to_datetime(dummy_df.game_date)
dummy_df = dummy_df.fillna(value = 0)

In [36]:
dummy_df

,player_id,game_date,player_name,total_pitches,hits,abs,whiffs,swings,takes,k,...,line_drive,ground_ball,fly_ball,popup,rbi,sac,ba,slg,iso,babip
0,282332,2019-01-01,CC Sabathia,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,400085,2019-01-01,Ichiro Suzuki,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,405395,2019-01-01,Albert Pujols,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,408234,2019-01-01,Miguel Cabrera,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,425772,2019-01-01,Jeff Mathis,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,670950,2019-01-01,Trevor Richards,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
986,670970,2019-01-01,Adrian Morejon,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
987,671790,2019-01-01,Ronald Bolanos,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
988,672773,2019-01-01,Elvis Luciano,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
989,676606,2019-01-01,Nick Margevicius,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
batters_dummy = pd.concat([batters, dummy_df], axis = 0)
batters_dummy = batters_dummy.sort_values(by=['player_id', 'game_date'])
batters_dummy.loc[batters_dummy.player_name == 'Bryce Harper']

,player_id,game_date,player_name,total_pitches,hits,abs,whiffs,swings,takes,k,...,line_drive,ground_ball,fly_ball,popup,rbi,sac,ba,slg,iso,babip
304,547180,2019-01-01,Bryce Harper,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
18533,547180,2019-03-28,Bryce Harper,14,0,3,4,6,8,2,...,0,1,0,0,0,0,0.000000,0.000000,0.000000,0.000000
18534,547180,2019-03-30,Bryce Harper,31,1,6,5,11,20,2,...,0,1,3,0,0,0,0.166667,0.666667,0.500000,0.000000
18535,547180,2019-03-31,Bryce Harper,50,3,9,8,20,30,3,...,1,1,4,0,0,0,0.333333,1.111111,0.777778,0.250000
18536,547180,2019-04-02,Bryce Harper,75,6,14,12,35,40,5,...,2,2,5,0,2,0,0.428571,1.214286,0.785714,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18683,547180,2019-09-25,Bryce Harper,2696,144,554,446,1301,1379,173,...,104,156,109,15,78,3,0.259928,0.507220,0.247292,0.314286
18684,547180,2019-09-26,Bryce Harper,2722,144,558,449,1316,1389,176,...,104,157,109,15,78,3,0.258065,0.503584,0.245520,0.313390
18685,547180,2019-09-27,Bryce Harper,2746,146,564,452,1328,1401,177,...,106,159,111,15,80,4,0.258865,0.507092,0.248227,0.313725
18686,547180,2019-09-28,Bryce Harper,2769,147,568,455,1339,1412,177,...,106,159,113,17,82,4,0.258803,0.510563,0.251761,0.311111
18687,547180,2019-09-29,Bryce Harper,2787,149,573,458,1346,1423,178,...,109,159,114,17,82,4,0.260035,0.509599,0.249564,0.313187

In [38]:
# batters_dummy.shift(periods=1, fill_value=0).loc[batters_dummy.player_name == "Bryce Harper"]

# batters_dummy.loc[batters_dummy.game_date != '2019-01-01']
batters_dummy = batters_dummy.reset_index()

In [39]:
batters_dummy['shift_date'] = batters_dummy.game_date.shift(-1)

In [40]:
batters_dummy.columns

Index(['index', 'player_id', 'game_date', 'player_name', 'total_pitches',
       'hits', 'abs', 'whiffs', 'swings', 'takes', 'k', 'walk', 'single',
       'double', 'triple', 'hr', 'line_drive', 'ground_ball', 'fly_ball',
       'popup', 'rbi', 'sac', 'ba', 'slg', 'iso', 'babip', 'shift_date'],
      dtype='object')

In [41]:
batters_dummy = batters_dummy[['player_id', 'game_date', 'shift_date', 'player_name', 'total_pitches', 
                   'hits', 'abs', 'whiffs', 'swings', 'takes', 'k', 'walk', 'single', 
                   'double', 'triple','hr', 'line_drive', 'ground_ball', 'fly_ball', 'popup', 
                   'rbi', 'sac','ba', 'slg', 'iso', 'babip']]

In [42]:
batters_dummy;

In [43]:
batters_dummy = batters_dummy.loc[batters_dummy.shift_date != '2019-01-01'][0:-1]

In [44]:
outfile = open('../data/processed/batters/2019_batters_date_shifted.pickle','wb')
pickle.dump(batters_dummy ,outfile)
outfile.close()